.Panier {
    width: 25%;
    padding-left: 30px;
    box-sizing: content-box;
    margin-top: 15px;
    position: sticky;
    top:  85px;
    height: 100%;
}
.PanierAchat {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 2px 5px rgba(35, 31, 32, .05);
}
.PanierAchat > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    font-weight: bolder;
}
.PanierTotal {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #f5f7f9;
}
.btnAdresse {
    font-size: 12px;
    color: #6b6e79;
    cursor: pointer;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 0px;
}
.btnAdresse:hover {
    text-decoration: underline;
}
.PanierVide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    color: #6b6e79;
    min-height: 15vh;
}
.btnCommander {
    background-color: #c6db99;
    border: none;
    margin-top: 15px;
    width: 100%;
    font-size: 18px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    color: white;
}
.btnCommander.active {
    background-color: #70a401;
    cursor: pointer;
}
.btnCommander.active:hover {
    background-color: #4c6f01;
}
.btnCommander.active > div:first-of-type {
    background-color: #639003;
}
.btnCommander > div:first-of-type {
    background-color: rgba(99, 144, 3, .3);
    padding: 5px 10px;
    padding-top: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infosCommander {
    padding-inline: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 2px 5px 0 rgba(35, 31, 32, .05);
    border-radius: 4px;
}
.infosCommander > div img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.infosCommander > div {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}
.infosCommander > div h4 {
    margin: 0;
}
.infosCommander p {
    margin: 0;
    letter-spacing: 1px;
    color: #b5b6bd;
    font-size: 15px;
    width: 99%;
    margin: 0 0 10px;
    line-height: 20px;
}
.panierArticle {
    border-top: 1px dashed #b5b6bd;
    border-bottom: 1px dashed #b5b6bd;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.panierArticle > div:first-of-type {
    display: flex;
    justify-content: space-between;
}
.panierArticle > div:last-of-type {
    display: flex;
    justify-content: space-between;
}
.panierArticle > div:last-of-type > div:last-of-type {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.panierArticle > div:last-of-type > div:last-of-type span {
    cursor: pointer;
}
.panierArticle > div:last-of-type > div:last-of-type span:hover {
    text-decoration: underline;
}
.PanierArticles {
    padding-bottom: 30px;
    padding-top: 10px;
}
.panierSupp {
    font-size: 12px;
    color: gray;
    margin: 0;
}
.panierSans {
    font-size: 12px;
    color: gray;
    margin: 0;
}
.panierSupp span {
    color: #70a401;
    
}
.panierSans span {
    color: #c8102e;
    
}
.divBtnArticle {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btnArticle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.btnArticle.moins {
    padding-bottom: 4px;
}
.responsiveBtnPanier {
    display: none;
    width: 100%;
    background-color: white;
    z-index: 99;
    padding: 5px;
}
.responsiveBtnPanier button {
    display: flex;
    align-items: center;
    background-color: #c6db99;
    color: white;
    width: 100%;
    border-radius: 8px;
    height: 56px;
    font-size: 18px;
    padding-inline: 30px;
    border: none;
}
.responsiveBtnPanier button div:first-of-type {
    background-color: rgba(99, 144, 3, .3);
    padding: 8px 10px;
    border-radius: 4px;
    /* height: 30px;
    width: 30px; */
}
.responsiveBtnPanier.active button div:first-of-type {
    background-color: #639003;
}
.responsiveBtnPanier.active button {
    background-color: #70a401;
    cursor: pointer;
}
.responsiveBtnPanier.active button:hover {
    background-color: #4c6f01;
}
.responsiveBtnPanier.active button:active {
    background-color: #4c6f01;
}
.btnFermerPanier {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    cursor: pointer;
}
.Panier2 {
    display: none;
}
@media (max-width:990px) {
    .Panier {
        display: none;
    }
    .responsiveBtnPanier {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
    }
    .Panier2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: white;
        padding-top: 50px;
        padding-inline: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .DetailsGeneral .responsiveBtnPanier {
        display: none;
    }
    .Panier2 .PanierArticles {
        overflow-y: auto;
        height: 60vh;
    }
}